.Screen {
  min-height: 100vh;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Login-box {
  width: 70vh;
  height: 50vh;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  background-color: palegreen;
}

.Login-title {
  text-align: center;
  font-size: 24;
}

.Login-input-group {
  margin: 16px;
  display: flex; 
  flex-direction: column;
}
